<div class="container">
  <h2 class="text-center">My products creating requests</h2>
  <% @requests.each do |request| %>
    <div class="message">
      <div class="message-body">
        <p><strong> Product name:<%=  request.name %></strong></p>
        <% if request.photo != nil %>
          <p>Product photo: <%= cl_image_tag request.photo, height: 300, width: 400, crop: :fill %></p>
        <% end %>
        <p>Product sku:<%=  request.sku %></p>
      </div>
      <div class="message-status text-center">
        <div class="form-group">
          <%= render 'form', request: request %>
        </div>
      </div>
    </div>
  <% end %>
  <% @requests.each do |request| %>
    <% if policy(request).edit? %>
      <%= link_to "Update", edit_product_path(product) %>
    <% end %>
  <% end %>
</div>
