<p><%= @additive.chemical %></p>
<h2>Name of Additive: <%= @additive.name %></h2>
<p>Description: <%= @additive.description %></p>
<p>Risk to your health:<%= @additive.risk %></p>
<p>Effects to your health:<%= @additive.effect %></p>
