<div class="detail-page">

  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">

        <div class="row">
            <div class="col-xs-12" style="text-align: -moz-center;">
            <% if @additive.risk == "Baja" %>
              <div class="button-chemical-good"> 
                <i class="fas fa-chevron-left" style="color: white;width: 100%;text-align: -moz-right;"> <%= link_to "Back", :back, style: 'color: white' %></i>
                <p style="color: white;font-size: x-large;font-weight: bolder;"><%= @additive.chemical %></p> 
              </div>
            <% elsif @additive.risk == "Media" %>
              <div class="button-chemical-medium">
                <i class="fas fa-chevron-left" style="color: white;width: 100%;text-align: -moz-right;"> <%= link_to "Back", :back, style: 'color: white' %></i>
                <p style="color: white;font-size: x-large;font-weight: bolder;"><%= @additive.chemical %></p> 
              </div>
            <% elsif @additive.risk == "Alta" %>
                <div class="button-chemical-bad"> 
                    <i class="fas fa-chevron-left" style="color: white;width: 100%;text-align: -moz-right;"> <%= link_to "Back", :back, style: 'color: white' %></i>
                    <p style="color: white;font-size: x-large;font-weight: bolder;"><%= @additive.chemical %></p> 
                </div> 
            <% else %>
            <div class="button-chemical-unknown"> 
                <i class="fas fa-chevron-left" style="color: white;width: 100%;text-align: -moz-right;"> <%= link_to "Back", :back, style: 'color: white' %></i>
                <p style="color: white;font-size: x-large;font-weight: bolder;"><%= @additive.chemical %></p> 
            </div>
             <% end %>
              <h3><%= @additive.name %></h3>
            
            </div>

        </div>
    </div>

    <%# <p><%= @additive.chemical %></p>


        <div class="separator" style="margin-top: 13px;">
            <p style="text-align: center;vertical-align: middle;line-height: 40px;color: white;font-size: larger;">  DESCRIPCION </p>
        </div>
        <div>
            <p style="text-transform: initial; text-justify: auto;text-align: justify;text-justify: inter-word; margin: 20px; line-height: 1.4;"><%= @additive.description %></p>
        </div>
        <div class="separator" style="margin-top: 13px;">
                <p style="text-align: center;vertical-align: middle;line-height: 40px;color: white;font-size: larger;">  RIESGO PARA LA SALUD </p>
        </div>
        <div>
            <p style="text-transform: initial; text-justify: auto;text-align: center;text-justify: inter-word; margin: 20px; line-height: 1.4;"><%= @additive.risk %></p>
        </div>
        <div class="separator" style="margin-top: 13px;">
            <p style="text-align: center;vertical-align: middle;line-height: 40px;color: white;font-size: larger;">  EFECTOS PARA LA SALUD </p>
        </div>
        <div>
            <p style="text-transform: initial; text-justify: auto;text-align: justify;text-justify: inter-word; margin: 20px; line-height: 1.4;"><%= @additive.effect %></p>
        </div>

  </div>
</div>
