<div class="additive-show-page" style="padding-bottom: 77px;">
  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">

    <div style="overflow: hidden;">
      <div class="col-xs-6" style="text-align: -moz-center;">
        <% if @additive.risk == "Baja" %>
          <div class="button-chemical-good">
            <p class="chemical-description"><%= @additive.chemical %></p>
          </div>
        <% elsif @additive.risk == "Media" %>
          <div class="button-chemical-medium">
            <p class="chemical-description"><%= @additive.chemical %></p>
          </div>
        <% elsif @additive.risk == "Alta" %>
          <div class="button-chemical-bad">
            <p class="chemical-description"><%= @additive.chemical %>
            </p>
          </div>
        <% else %>
          <div class="button-chemical-unknown">
            <p class="chemical-description"><%= @additive.chemical %></p>
          </div>
          <% end %>
      </div>
      <!-- column end -->
      <div class="col-xs-4 col-xs-offset-2" style="text-align: -moz-center;">
        <i class="fas fa-chevron-left btn-default arrow", style="color: #686868" ;> <%= link_to "ATRÃS", :back %>
        </i>
      </div>
      <!-- 2nd column end -->
    </div>

    <h3><%= @additive.name %></h3>

    <!-- <%# <p><%= @additive.chemical %></p> -->
    <div class="separator-message">
      <p>DESCRIPCION</p>
    </div>
    <div>
      <p class="chemical-detail"><%= @additive.description %></p>
    </div>
    <div class="separator-message">
      <p>RIESGO PARA LA SALUD</p>
    </div>
    <div>
      <p id="risk-middle"><%= @additive.risk %></p>
    </div>
    <div class="separator-message">
      <p>EFECTOS PARA LA SALUD</p>
    </div>
    <div>
      <p class="chemical-detail"><%= @additive.effect %></p>
    </div>

  </div> <!-- end gradient div -->
  <%= render 'shared/footer' %>
</div>
