<div class="container text-center">
  <div class="form-login2">
    <div class="row">
      <!-- Forgot your password? -->
      <h2>Contraseña Olvidada</h2>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class=>
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Reinicializar", class:"submit-button" %>
        </div>
        <% end %>
      </div>
    </div> <!-- end of row -->
    <%= render "devise/shared/links" %>
  </div> <!-- end of form -->
</div>

<%= render 'shared/footer' %>
