<div class="container text-center">
  <div class="form-login2">
    <div class="row">
      <h2>Conectarse</h2>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="">
              <%= f.input :email, autofocus: true, placeholder: "tucorreo@electronico.com"%>
              <%= f.input :password, placeholder: "••••••" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Conectarse", class: "submit-button" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
<!-- end of column -->
      </div>
<!-- end of row -->
    </div>
<!-- end form-login2 class -->
</div>

<%= render 'shared/footer' %>







