<div class="container text-center container-center">
  <%= form_for(@product) do |f| %>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Type the name of the product", class: 'form-control' %>
      </div>

    </div>

  </div>
  <div class="row">
   <div class="col-xs-8 col-xs-offset-2">
     <div class="form-group">
      <%= f.label :brand %>
      <%= f.text_field :brand, placeholder: "Type the brand of the product", class: 'form-control' %>
    </div>

  </div>

</div>
<div class="row">
 <div class="col-xs-8 col-xs-offset-2">

 </div>

</div>
<div class="row">
 <div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <%= f.label :sku %>
    <%= f.text_field :sku, class: 'form-control' %>
  </div>
</div>

</div>
<div class="row">
 <div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, placeholder: "Puts the URL of one photo", class: 'form-control' %>
  </div>
</div>

</div>
<div class="row">
  <%= f.submit class: 'submit-button' %>
  <% end %>
</div>
</div>


<%= render 'shared/footer' %>
