<div class="container text-center">
  <%= form_for(@product) do |f| %>
  <div class="form-login2">
    <h2>Actualizar Producto</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-group ">
          <%= f.label :nombre %>
          <%= f.text_field :name, placeholder: "Nombre del Producto", class: 'form-control' %>
        </div>
      </div>
    </div>
  <!-- end of name row -->
    <div class="row">
     <div class="col-xs-12 col-sm-4 col-sm-offset-4">
       <div class="form-group">
        <%= f.label :marca %>
        <%= f.text_field :brand, placeholder: "Nombre de la marca", class: 'form-control' %>
       </div>
      </div>
    </div>
  <!-- end of brand row -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <%= f.label :codigo %>
          <%= f.text_field :sku, class: 'form-control sku-form' %>
        </div>
      </div>
    </div>
  <!-- end of sku row -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-group">
        <%= f.label :photo %>
        <%= f.text_field :photo, placeholder: "Introducir URL de foto del producto", class: 'form-control' %>
        </div>
      </div>
    </div>
  <!-- end of photo row -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <%= f.submit "Actualizar", class:'btn submit-button' %>
        <% end %>
        </div>
      </div>
    </div>
  <!-- end of submit button -->
  </div> <!-- end of form-login2 class -->
</div>

<%= render 'shared/footer' %>
