<div class="container">
  <h3>Your Liked Products</h3>
  <p>You liked <%=@liked_products.length%> products</p>
  <div class="row">
    <% @liked_products.each do |product|%>
    <div class="col-xs-12 col-sm-4">
      <% if product.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path product.photo, height: 300, width: 400, crop: :fill %>');">
          <div class="card-description">
            <h2>
              <%= link_to product.name, product_path(product)%>
            </h2>
          </div>
        </div>
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png');">
          <div class="card-description">
            <h2>
            <%= link_to product.name, product_path(product) %>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>







