<div class="message-page">

  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">

      <div class="message"> 
        <% if @product.photo? %>
          <%= image_tag @product.photo, class:"message-photo" %>
        <% else %>
          <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png',  class:"message-photo" %>
        <% end %>
      <!-- </div> -->

      <div class="row">
        <div class="message-text">
          <h4>This product is not in our database</h4>
        </div>
      </div>


<!-- button starts here -->
        <div class="row">
          <!-- <div class="col-xs-9 col-xs-offset-2"> -->
          <div class="button-message">
            <!-- <h4> < link_to "Help us update!", root_path > </h4> -->
            <p> <%= link_to "CREATE NEW!", edit_product_path(session[:new_product_id])%> </p>
          </div>
        </div>

      </div>
<!-- end of message class -->

<!-- button ends here -->

      <div class="row">
      <!-- style="margin-top: 0px; -->
        <div class="separator-message">
          <p>MESSAGE</p>
        </div>
        <div class="text-message">
          <p>If you want to improve this amazing app, please provide us with necessary information about this product. Our team will assess the product and we can help together the entire world to be healthy.
          </p>

        </div>
    </div> <!-- end of message row -->
<!--
    <div class="row">
      <div class="separator-message">
        <p>LINKS</p>
      </div>
    </div> -->

<!-- links to creating product/ home page  -->

    <div class="row">
      <div class="line">
        <hr>
        <p> <%= link_to "Home Page", root_path %> </p>
        <hr>
      </div>
    </div> <!-- end of links row -->

  </div> <!-- end of background style -->
</div> <!-- end of message page -->

<%= render 'shared/footer' %>
