<div class="detail-page">

  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">
    <div class="grid-container">
      <div class="grid-item-a ">
        <div class="photo-container">
            <% if @product.photo? %>
            <%= image_tag @product.photo, class:"photo" %>
            <% else %>
            <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png',  class:"photo" %>
            <% end  %>
        </div>
      </div>
 
      <div class="grid-item-b">
      </div>
  
      <div class="grid-item-c">
        <div class="grid-item-c-top">
          <div class="product-name" style="text-align: right; text-transform: capitalize;">
          <p><%= @product.name %></p>
          </div>
          <div>
          <p id="brand"> <%= @product.brand if @product.brand?%></p>
          </div>
        </div>
        <div class="grid-item-c-down-left">
          <div style="padding-top: 8px">
            <%= link_to like_product_path(@product), method: :put do %>
            <i class="fas fa-heart"></i>
            <% end %>
          </div>
        </div>
        <div class="grid-item-c-down-right">
        <%  if @product.nutrition_grade? %>  
          <% if @product.nutrition_grade.capitalize == "A" %>
              <img src="<%= image_path 'score100.png'%>" class="grade-image">  
            <% elsif @product.nutrition_grade.capitalize == "B" %>
              <img src="<%= image_path 'score80.png'%>" class="grade-image"> 
            <% elsif @product.nutrition_grade.capitalize == "C" %>
              <img src="<%= image_path 'score60.png'%>" class="grade-image"> 
            <% elsif @product.nutrition_grade.capitalize == "D" %>
              <img src="<%= image_path 'score40.png'%>" class="grade-image">
            <% elsif @product.nutrition_grade.capitalize == "E" %>
               <img src="<%= image_path 'score20.png'%>" class="grade-image">
            <% elsif @product.nutrition_grade.capitalize == "F" %>
               <img src="<%= image_path 'score0.png'%>" class="grade-image">
            <% else %>
                 <img src="<%= image_path 'score_nil.png'%>" class="grade-image">
          <% end %>       
           <% else %>
                 <img src="<%= image_path 'score_nil.png'%>" class="grade-image">
          <% end %>      
                     
                     
        </div>
      </div>  

    </div>

  
  <%# <div class="container">
    <div class="row">
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-2">
      </div> %>
      <div class="col-xs-6" 
       
             <div class="box">
                <div class="grade">
                    <div class="flex">
                     
                     

                    <!--     <p><%= @product.get_upvotes.size %></p> -->
                     </div>
                </div>
              </div>
      </div>
     </div>
    </div>


            <!--    <div class="banner-content"> -->
          <%# 
              
                  <div class="col-xs-6">

                  
                  </div> <!-- end of photo's colum  -->


                  <div class="col-xs-6">
                  

                      </div>
                      </div> %>
      </div>
      <%# </div>
<!-- second column product info  -->
</div>
</div> %>
<!-- end of 1 row -->

<div class="row">
  

     <div class="separator" style="margin-top: 0px;     background-color: darkgrey;
}">
              <img src="<%= image_path 'separator.png'%>" style="height: 50px;width: 100%;">
              <p style="text-align: center;margin-top: -26px;">  ADITIVOS ALIMENTARIOS </p>
      </div>
<div class="col-xs-12">
<div class="chemical-click">
 <% if @product.prod_add != nil %>

 <!--   <ul class=""> -->
  <% JSON[@product.prod_add].each do |additive| %>
  <% @additive = additive[3..6].capitalize %>
  <% if Additive.find_by_chemical(@additive) == nil %>

  <!-- adding button link -->
  <div class="button-chemical"> <%= @additive %>
  </div>
  <!-- link to detail of particular additive (chemical) -->
  <% else %>

  <!-- adding button link with redirection -->
    <% if Additive.find_by_chemical(@additive).risk == "Baja" %>
      <div class="button-chemical-good"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
      <% elsif Additive.find_by_chemical(@additive).risk == "Media" %>
      <div class="button-chemical-medium"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
      <% elsif Additive.find_by_chemical(@additive).risk == "Alta" %>
       <div class="button-chemical-bad"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
       <% else %>
       <div class="button-chemical-unknown"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
    <% end %>
  <% end %>
  <% end %>

  <!-- </ul> -->
  <% else %>
  <!-- <p>No chemicals</p> -->
  <% end  %>
</div>
<!-- end of chemicals buttons part -->
</div>
<!-- end of column 12  -->
</div>
<!-- end of row middle body -->


<div class="row">
    <div class="separator" style="margin-top: 30px;     background-color: darkgrey;
}" >
          <img src="<%= image_path 'separator.png'%>" style="height: 50px;width: 100%;">
          <p style="text-align: center;margin-top: -26px;">INFORMACION NUTRICIONAL</p>
    </div>

  <p id="valor">VALORES POR 100G DE PRODUCTO</p>
</div>

<!-- new style -->
<div class="row" style="margin-bottom: 119px;">
  <div class="col-xs-5 col-xs-offset-1">
   <p> <%= image_tag "calories.png", class: "icons" %> GRASAS </p>

   <p> <%= image_tag "calories.png", class: "icons" %> AZUCARES</p>
   <p> <%= image_tag "calories.png", class: "icons" %> PROTEINAS</p>
   <p> <%= image_tag "calories.png", class: "icons" %> SAL</p>
   <p> <%= image_tag "calories.png", class: "icons" %> CALORIAS</p>
 </div>

 <div class="col-xs-6">
   <% if @product.nutritional_info? %>
   <% nutritional = eval(@product.nutritional_info) %>
   <p> <%= nutritional['fat_100g'] %> g </p>
   <p> <%= nutritional['sugars_100g'] %> g </p>
   <p> <%= nutritional['proteins_100g'] %> g </p>
   <p> <%= nutritional['salt_100g'] %> g </p>
   <p> <%= ((nutritional['energy_100g'].to_i/4.1868).round(1)) %> Kcal </p>
   <% else %>
   <!-- <p>Sorry no data!</p> -->
   <% end  %>
 </div>
</div>

</div> <!-- banner content -->
</div>
<!-- banner-detail -->
</div>
<%= render 'shared/footer' %>
<!-- detail page close div -->







       <!--  <%= link_to dislike_product_path(@product), method: :put do %>
          <i class="fa fa-thumbs-down"></i>
          <%= @product.get_downvotes.size %>
          <% end %> -->

          <!-- We do not need for our detail page  -->
          <!-- <p>Bar-code:< @product.sku ></p> -->


