<% if @product.status == "pending" %>
    <div class="message-page">
      <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">
          <div class="message">
            <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx50GPTeYfUGJ4gr30rlMhd9eDSveVHkqDLqYR_6f6TKVioytu',  class:"message-photo" %>
          <!-- </div> -->
          <div class="row">
            <div class="message-text">
              <h4>This product is under revision by our team.</h4>
            </div>
          </div>
          <div class="row">
          <!-- style="margin-top: 0px; -->
            <div class="separator-message">
              <p>MESSAGE</p>
            </div>
            <div class="text-message">
              <p>This product is under revision by our team. As soon as possible we will provide quality information about it. Try again in a few days.
              </p>
            </div>
        </div> <!-- end of message row -->
        <div class="row">
          <div class="line">
            <hr>
            <p> <%= link_to "Home Page", root_path %> </p>
            <hr>
          </div>
        </div> <!-- end of links row -->
      </div> <!-- end of background style -->
    </div>
<% else %>
    <div class="detail-page" style="padding-bottom: 77px;">
        <div class="detail__photo-wrap">
            <% if @product.photo? %>
              <%= image_tag @product.photo, class:"detail__photo" %>
            <% else %>
              <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png',  class:"detail__photo" %>
            <% end  %>
        </div>
        <%
          if @product.final_score < 35
            score_class = 'product-bad'
          elsif @product.final_score > 70
            score_class = 'product-good'
          else
            score_class = 'product-medium'
          end
        %>

        <p class="detail__product-score <%= score_class %>">
            <span class="detail__product-score-number"> <%= @product.final_score %> </span>
            <span class="detail__product-score-percent">100</span>
        </p>

        <div class="container--regular">
            <div class="detail__product-info-section">
                <% if user_signed_in? %>
                    <%= link_to like_product_path(@product), method: :put do %>
                        <i class="fas fa-heart detail__product-heart" id=""></i>
                    <% end %>

                    <% if @liked_products.include?(@product) %>
                        <i class="fas fa-heart detail__product-heart detail__product-heart--active"></i>
                    <% end %>
                <% else %>
                    <%= link_to new_user_session_path, method: :get do %>
                        <i class="fas fa-heart detail__product-heart"></i>
                    <% end %>
                <% end %>
                <p class="detail__product-section-header">Producto</p>
                <p class="detail__product-info-header">
                    Nombre
                </p>
                <p class="detail__product-body">
                    <%= @product.name %>
                </p>
                <p class="detail__product-info-header">
                    Marca
                </p>
                <p class="detail__product-body">
                    <%= @product.brand if @product.brand?%>
                </p>
            </div>

            <div class="detail__product-info-section">
                <p class="detail__product-section-header detail__product-section-header--higher">
                    ADITIVOS ALIMENTARIOS
                </p>
                <div class="detail__product-chemical-lozenge-wrap">
                    <% if @product.prod_add != "[]" %>
                      <% JSON[@product.prod_add].each do |additive| %>  
                      <%  if additive.length <= 7 %> 
                       <% @additive = additive[3..6].capitalize %>

                      <% elsif additive.length > 7 %>
                       <% @additive = (additive[3..6].capitalize)+(additive[7..(additive.length+1)]) %>
                      <% end %>
                        

                        <% if Additive.find_by_chemical(@additive) == nil %>
                  <!-- PRINT CHEMICAL WITHOUT DETAILED LINK TO DESCRIPTION - NOT INCLUDED IN OUR DB -->
                            <div class="button-chemical"> <%= @additive %>
                            </div>
                  <!-- CHEMICAL IS IN OUR DB - PRINT WITH REDIRECTION TO NEXT DESCRIPTION PAGE  -->
                        <% else %>

                  <!-- adding button link with redirection -->
                          <% if Additive.find_by_chemical(@additive).risk == "Baja" %>
                            <div class="button-chemical button-chemical-good" id="greenish"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                          <% elsif Additive.find_by_chemical(@additive).risk == "Media" %>
                            <div class="button-chemical button-chemical-medium" id="yellowish"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                          <% elsif Additive.find_by_chemical(@additive).risk == "Alta" %>
                            <div class="button-chemical button-chemical-bad" id="redish"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                          <% else %>
                            <div class="button-chemical button-chemical-unknown"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)), class: 'white-text'  %> </div>
                          <% end %> <!-- end baja alta -->
                        <% end %>
                        <!-- end if for additive if find or not -->
                      <% end %>
                    <% else %>
                        <p> Este producto no tiene aditivos químicos. </p>
                    <% end  %>
                </div>
            </div>

            <div class="detail__product-info-section">
                <p class="detail__product-section-header detail__product-section-header--higher">
                    INFORMACION NUTRICIONAL
                    </p>
                <div class="row">
                  <p id="valor">VALORES POR 100G DE PRODUCTO</p>
                </div>
                <div class="detail__nutrient-table">
                    <% if @product.organic == true %>
                        <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "organic.svg", class: "icons" %> ORGÁNICO
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <i class="fas fa-check" style="color: #54bd54;"></i>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                        </div> <!-- end of 1st fat line -->
                    <% end %>

                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "fats.svg", class: "icons" %> GRASAS
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                             <p> <%= nutritional['fat_100g'] %> g </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 1st fat line -->
                    
                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "fats.svg", class: "icons" %> SATURADAS
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                             <p> <%= nutritional['saturated-fat_100g'] %> g </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 1st fat line -->

                     <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            
                            <p> <%= image_tag "sugar.svg", class: "icons" %> CARBOHIDRATOS</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= nutritional['carbohydrates_100g'] %> g </p>
                            
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 2nd sugar line -->

                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            
                            <p> <%= image_tag "sugar.svg", class: "icons" %> AZUCARES</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= nutritional['sugars_100g'] %> g </p>
                             
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 2nd sugar line -->


                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "protein.svg", class: "icons" %> PROTEINAS</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= nutritional['proteins_100g'] %> g </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 3nd protein line -->

                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "fibre.svg", class: "icons" %> FIBRA</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= nutritional['fiber_100g'] %> g </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 4th fiber line -->

                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                           <p> <%= image_tag "salt.svg", class: "icons" %> SAL</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= nutritional['salt_100g'].to_i.round(1) %> g </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 5th salt line -->

                    <div class="nutrient-section">
                        <div class="col-xs-5 col-xs-offset-2">
                          <div class="space">
                            <p> <%= image_tag "kcal.svg", class: "icons" %> CALORIAS</p>
                            </p>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 1st column -->

                        <div class="col-xs-4">
                          <div class="space">
                            <% if @product.nutritional_info? %>
                             <% nutritional = eval(@product.nutritional_info) %>
                              <p> <%= ((nutritional['energy_100g'].to_i/4.1868).round(0)) %> Kcal </p>
                             <% else %>
                            <!-- <p>Sorry no data!</p> -->
                           <% end  %>
                          </div> <!-- end of space class -->
                        </div> <!-- end of 2nd column -->
                    </div> <!-- end of 6th energy line -->
                </div>
            </div>
        </div>

        <div class="line">
          <hr>
          <p> <%= link_to "CÁLCULO DE LA PUNTUACIÓN", method_path %> </p>
          <hr>
          <p> <%= link_to "CONTACTA CON NOSOTROS", contact_path %> </p>
          <hr>
        </div>

<% end %>
<%= render 'shared/footer' %>
