<% if @product.status == "pending" %>
<div class="message-page">
  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">
      <div class="message">
        <%= image_tag 'https://encrypted-tbn0.gstatic.com/imag
  es?q=tbn:ANd9GcQx50GPTeYfUGJ4gr30rlMhd9eDSveVHkqDLqYR_6f6TKVioytu',  class:"message-photo" %>
      <!-- </div> -->
      <div class="row">
        <div class="message-text">
          <h4>This product is under revision by our team.</h4>
        </div>
      </div>

<!-- end of message class -->
<!-- button ends here -->
      <div class="row">
      <!-- style="margin-top: 0px; -->
        <div class="separator-message">
          <p>MESSAGE</p>
        </div>
        <div class="text-message">
          <p>This product is under revision by our team. As soon as possible we will provide quality information about it. Try again in a few days.
          </p>
        </div>
    </div> <!-- end of message row -->
    <div class="row">
      <div class="line">
        <hr>
        <p> <%= link_to "Home Page", root_path %> </p>
        <hr>
      </div>
    </div> <!-- end of links row -->
  </div> <!-- end of background style -->
</div> <!-- end of message page -->
<%= render 'shared/footer' %>

<% else %>

<div class="detail-page">

  <div style="background: linear-gradient(-225deg, rgba(255,255,255, 0.3);">
    <div class="grid-container">
      <div class="grid-item-a ">
        <% if @product.photo? %>
          <%= image_tag @product.photo, class:"photo" %>
        <% else %>
          <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png',  class:"photo" %>
        <% end  %>
          <div>

          <% if user_signed_in? %>
            <%= link_to like_product_path(@product), method: :put do %>

<!-- style="color: white; opacity: 0.8; position: absolute;top: 5px;font-size: 100%;right: -30px;text-shadow: 1px 1px 5px black; -->
            <i class="fas fa-heart" id="heart"></i>
            <% end %>

            <% if @liked_products.include?(@product) %>
              <i class="fas fa-heart" id="heart-incl-product"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, method: :get do %>

 <!-- style="color: white; opacity: 0.8; position: absolute;top: 5px;font-size: 100%;right: -30px;text-shadow: 1px 1px 5px black;" -->
            <i class="fas fa-heart" id="heart-show"></i>
            <% end %>
          <% end %>
        </div>
      </div> <!-- end of grid-item-a -->

      <div class="grid-item-b">
      </div>

      <div class="grid-item-c">
        <div class="grid-item-c-top">
          <div class="product-name">
            <p><%= @product.name %></p>
          </div>
          <div>
            <p id="brand"> <%= @product.brand if @product.brand?%></p>
          </div>
          </div>
          <div class="grid-item-c-down-left">
          </div>

          <!-- MODAL -->

        <div class="grid-item-c-d own-right">
          <%  if @product.nutrition_grade? %>
            <% @score = @product.final_score %>

            <%= image_tag "score#{@score}.png", class:"grade-image" %>
          <% else %>
            <%= image_tag "score_nil.png", class:"grade-image" %>
          <% end %>
        </div> <!-- end of grid-item-c-down-right -->
      </div> <!-- end grid-item-c -->
    </div>
<!-- END OF GRID CONTAINER -->

    <div class="row">
      <!-- style="margin-top: 13px; -->
      <div class="separator">
          <!-- <p style="text-align: center;vertical-align: middle;line-height: 40px;color: white;font-size: larger;">ADITIVOS ALIMENTARIOS </p> -->
          <p>ADITIVOS ALIMENTARIOS</p>
        </div>
      <div class="col-xs-12">
        <div class="chemical-click">
<!-- changed code with Ollie -->
          <% if @product.prod_add != "[]" %>
            <% JSON[@product.prod_add].each do |additive| %>
              <% @additive = additive[3..6].capitalize %>

              <% if Additive.find_by_chemical(@additive) == nil %>
        <!-- PRINT CHEMICAL WITHOUT DETAILED LINK TO DESCRIPTION - NOT INCLUDED IN OUR DB -->
                <div class="button-chemical"> <%= @additive %>
                </div>
        <!-- CHEMICAL IS IN OUR DB - PRINT WITH REDIRECTION TO NEXT DESCRIPTION PAGE  -->
              <% else %>

        <!-- adding button link with redirection -->
                <% if Additive.find_by_chemical(@additive).risk == "Baja" %>
                  <div class="button-chemical button-chemical-good"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                <% elsif Additive.find_by_chemical(@additive).risk == "Media" %>
                  <div class="button-chemical button-chemical-medium"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                <% elsif Additive.find_by_chemical(@additive).risk == "Alta" %>
                  <div class="button-chemical button-chemical-bad" id="redish"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                <% else %>
                  <div class="button-chemical button-chemical-unknown" id="add-white"> <%= link_to @additive, additive_path(Additive.find_by_chemical(@additive)) %> </div>
                <% end %> <!-- end baja alta -->
              <% end %>
              <!-- end if for additive if find or not -->
            <% end %>
            <!-- end of JSON each method -->
            <!-- CAN PRINT INFO IF NO CHEMICALS are IN THE PRODUCT -->
          <% else %>
            <p> Este producto no tiene aditivos quimicos. </p>
          <% end  %>
          <!-- end of chemicals-click class if any E-XXX our in scanned product -->
        </div>
        <!-- end of chemicals buttons part -->
      </div>
      <!-- end of column 12  -->
    </div>
<!-- END OF PRODUCT INFORMATION -->

    <div class="row">
      <!-- style="margin-top: 0px; -->
      <div class="separator">
   <!--  <p style="text-align: center;vertical-align: middle;line-height: 40px; color: white;font-size: larger;">INFORMACION NUTRICIONAL</p>  -->
        <p>INFORMACION NUTRICIONAL</p>
      </div>

      <p id="valor">VALORES POR 100G DE PRODUCTO</p>
    </div>

<!-- NUTRITIONAL INFORMATION -->

    <div class="row" >
    <% if @product.organic == true %>
 
      <div class="nutrient-section">
                <div class="col-xs-5 col-xs-offset-2">
                  <div class="space">
                    <p> <%= image_tag "organic.svg", class: "icons" %> ORGÁNICO
                    </p>
                  </div> <!-- end of space class -->
                </div> <!-- end of 1st column -->

                <div class="col-xs-4">
                  <div class="space">

                  </div> <!-- end of space class -->
                </div> <!-- end of 2nd column -->
            </div> <!-- end of 1st fat line -->
      <% end %>


      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">
              <p> <%= image_tag "fats.svg", class: "icons" %> GRASAS
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
               <p> <%= nutritional['fat_100g'] %> g </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 1st fat line -->

      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">

              <p> <%= image_tag "sugar.svg", class: "icons" %> AZUCARES</p>
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
                <p> <%= nutritional['sugars_100g'] %> g </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 2nd sugar line -->


      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">
              <p> <%= image_tag "protein.svg", class: "icons" %> PROTEINAS</p>
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
                <p> <%= nutritional['proteins_100g'] %> g </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 3nd protein line -->

      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">
              <p> <%= image_tag "fibre.svg", class: "icons" %> FIBRA</p>
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
                <p> <%= nutritional['fiber_100g'] %> g </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 4th fiber line -->

      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">
             <p> <%= image_tag "salt.svg", class: "icons" %> SAL</p>
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
                <p> <%= nutritional['salt_100g'].to_i.round(1) %> g </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 5th salt line -->

      <div class="nutrient-section">
          <div class="col-xs-5 col-xs-offset-2">
            <div class="space">
              <p> <%= image_tag "kcal.svg", class: "icons" %> CALORIAS</p>
              </p>
            </div> <!-- end of space class -->
          </div> <!-- end of 1st column -->

          <div class="col-xs-4">
            <div class="space">
              <% if @product.nutritional_info? %>
               <% nutritional = eval(@product.nutritional_info) %>
                <p> <%= ((nutritional['energy_100g'].to_i/4.1868).round(0)) %> Kcal </p>
               <% else %>
              <!-- <p>Sorry no data!</p> -->
             <% end  %>
            </div> <!-- end of space class -->
          </div> <!-- end of 2nd column -->
      </div> <!-- end of 6th energy line -->
    </div>
    </div>
  <!-- END OF WHOLENUTRITIONAL INFO BLOCK -->

    <div class="row">
      <div class="line">
        <hr>
        <p> <%= link_to "NUTRITIONAL METHOD", method_path %> </p>
        <hr>
        <p> <%= link_to "CONTACT US", contact_path %> </p>
        <hr>
      </div>
    </div>
  <!-- END OF CONTACT INFO -->

</div>
<!-- detail page close div -->
<% end %>
<%= render 'shared/footer' %>

       <!--  <%= link_to dislike_product_path(@product), method: :put do %>
          <i class="fa fa-thumbs-down"></i>
          <%= @product.get_downvotes.size %>
          <% end %> -->

          <!-- We do not need for our detail page  -->
          <!-- <p>Bar-code:< @product.sku ></p> -->
